<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>User Management Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark"
         style="background-color: #9495ff">
        <div>
            <a href="/" class="navbar-brand">Product Management Web Application</a>
        </div>
        <ul class="navbar-nav">
            <li><a href="/" class="nav-link">Products</a></li>
        </ul>
    </nav>
</header>
<br>
<div class="row">
    <div class="container" id="content">
        <h3 class="text-center">List of Products</h3>
        <hr>
        <div class="container text-left">
            <a href="/add" class="btn btn-success">Add Product</a>
        </div>
        <br>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {#for product in products}
                <tr>
                    <td>{product.id}</td>
                    <td>{product.name}/td>
                    <td>{product.price}</td>
                    <td>{product.quantity}</td>
                    <td>
                        <a href="update?id=<c:out value='${product.id}' />">Update</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="delete?id=<c:out value='${product.id}' />">Delete</a>
                    </td>
                </tr>
            {/for}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>